body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.2rem;
}

.container {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 3px;
  width: 300px;
  padding: 0.7rem;
  box-shadow: 7px 7px 5px rgb(235, 235, 235);
}

.content {
  border: 1px solid rgb(225, 225, 225);
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.list-items {
  list-style: none;
  padding: 0;
}

.animal-fact {
  font-style: italic;
  font-size: 0.8em;
}

.animal-description {
  font-family: "Times New Roman", Times, serif;
}
